<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <!-- Database Connection -->
  <connectionStrings>
    <add name="HotelConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=HotelManagementDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" defaultLanguage="C#">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="en-IN" uiCulture="en-IN"/>
  </system.web>
  <!-- OWIN SignalR Startup Configuration -->
  <appSettings>
    <add key="owin:AppStartup" value="Startup" />
  </appSettings>
  <system.webServer>
    <!-- Enable Managed Modules for Extensionless URLs (SignalR routing) -->
    <modules runAllManagedModulesForAllRequests="true" />
    <!-- Enable GZip Compression -->
    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/json" enabled="true"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="image/svg+xml" enabled="true"/>
      </staticTypes>
    </httpCompression>
    <!-- Static Content Caching Headers & WebP MIME Type -->
    <staticContent>
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00"/>
    </staticContent>
  </system.webServer>
</configuration>